.App {
  text-align: center;
}

#word ol {
  font-family: monospace;
  font-size: 48px;
  list-style: none;
}

#word ol li {
  display: inline-block;
  text-decoration: underline;
  margin-right: 10px;
}

#wrong ul {
  text-align: left;
  list-style: none;
  color: red;
  font-size: 20px;
}

#wrong ul li {
  text-decoration: underline red;
  display: inline-block;
  margin-right: 10px;
}

.word {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.scene {
  display: inline-block;
  width: 150px;
  height: 200px;
  margin: 0 5px;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  /*line-height: 260px;*/
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__face--front {
  background: blue;
}

.card__face--back {
  background: green;
  transform: rotateY(180deg);
}