body, html {
  height: 100VH;
  margin: 0 auto;
  width: 100VW;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confetti > div {
  margin-inline:auto;
  top: -20px;
}

.start {
  width:100%;
  height:100VH;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-image: url()*/
  background-color: yellow;
  background-size: auto;
  background-position: center;
}

.start h1{
  font-size: 24px;
  background-color: #007bff;
  color:#fff;
  padding:10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  padding:10px 20px;
  background-color: #007bff;
  color: #fff;
  border:none;
  border-radius:4px;
  font-size: 16px;
  margin: 0 10px;
  cursor:pointer;
}

.button:hover{
  background-color: #0056b3;;
}

.enterWord {
  width:100%;
  height:100VH;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-image: url()*/
  background-color: black;
  background-size: auto;
  background-position: center;
}

.enterWord h3{
  color: #fff;
}

.App {
  position: relative;
  text-align: center;
  width: 90VW;
  margin: 0 auto;
}

#wrong {
 height: max-content;
 font-size: 50px;
}

#wrong ul li {
  text-decoration: underline red;
  display: inline-block;
  margin-right: 10px;
}

#scene {
  height: 50VH;
  width: 100%;
}

#scene img {
  height: 100%;
}

.word {
  width: 100%;
  height: 25VH;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.word > * {
  flex: 1 1 0;
}

.scene {
  display: inline-block;
  height: 100%;
  border: 0.5px solid white;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  font-stretch: expanded;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__face--front {
  background: blue;
}

.card__face--back {
  background: green;
  transform: rotateY(180deg);
}