.App {
  text-align: center;
}

#word ol {
  font-family: monospace;
  font-size: 48px;
  list-style: none;
}

#word ol li {
  display: inline-block;
  text-decoration: underline;
  margin-right: 10px;
}

#wrong ul {
  text-align: left;
  list-style: none;
  color: red;
  font-size: 20px;
}

#wrong ul li {
  text-decoration: underline red;
  display: inline-block;
  margin-right: 10px;
}
